version: 2.1
jobs:
  test-PetStore:
    docker:
      - image: cimg/base:current
    steps:
      - checkout
      - run:
          name: "Install Newman"
          command: npm install -g newman
      - run:
          name: "test-PetStore"
          command: |
            newman run Swagger_Petstore.postman_collection.json -e Pet_env.postman_environment.json

workflows:
  test-PetStore-workflow: 
    jobs:
      - test-PetStore
